@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Assignment 6 - llima-campos</h1>
    <p>
        Web application with security roles and non-text media files support to manage Artists, Albums and Tracks.
    </p>
    <p><a class="btn btn-primary" href="https://llima-campos-wa-web524-a6.azurewebsites.net/">Assignment 6 on Azure</a></p>
</div>
